<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At mollitia ab fuga est doloremque nemo architecto odio consequatur, omnis maxime ducimus delectus. Qui autem et illum dolores. Laborum, ipsum hic?
            </p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At mollitia ab fuga est doloremque nemo architecto odio consequatur, omnis maxime ducimus delectus. Qui autem et illum dolores. Laborum, ipsum hic?
            </p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At mollitia ab fuga est doloremque nemo architecto odio consequatur, omnis maxime ducimus delectus. Qui autem et illum dolores. Laborum, ipsum hic?
            </p>
        </ul>
    </div>
</div>
